<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <httpHandlers>
            <add path="BusyBoxDotNet.axd" verb="*" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet" />
        </httpHandlers>
        <compilation debug="true" strict="false" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <!--<add name="SGS" connectionString="uid=sa;pwd=pass@Admin10;server=HUASCARAN\MSSQL2K8;database=SGS" />-->
    <add name="SGS" connectionString="Data Source=.;Initial Catalog=SGS;Integrated Security=True"/>
  </connectionStrings>
</configuration>
